-
  var contacts = {
    title: "Наши контакты",
    items: [
      {
        name: "phone",
        actionName: "Звоните:",
        link: "tel:+78125556666",
        text: "+7 (812) 555-66-66"
      },
      {
        name: "mail",
        actionName: "Пишите:",
        link: "mailto:mail@htmlacademy.ru",
        text: "mail@htmlacademy.ru"
      },
      {
        name: "address",
        actionName: "Приезжайте в гости:",
        link: null,
        text: "ул. Большая Конюшенная,&nbsp;19/8"
      }
    ]
  }
