-
  var contest = {
    title: "Информация о вас и вашем путешествии",
    callToAction: "Поделитесь своей историей и&nbsp;получите шанс выиграть ценный приз&nbsp;&mdash; 1000 миль на вашу бонусную карту!" +
      "<span class=\"call-to-action__hidden\">Пожалуйста, заполните форму ниже:</span>"
  }
