-
  var features = {
    title: "Особенности приложения",
    callToAction: "<span class='call-to-action__text'>Устали от&nbsp;серости мегаполиса?</span>" +
      "<span class='call-to-action__text'>Нам есть, что вам<br> предложить!</span>",
    items: [
      {
        name: "monochrome",
        title: "Поднимает настроение",
        descr: "Приложение позволит вам победить осеннюю хандру и&nbsp;депрессию буквально в несколько кликов!",
        imageWidth: 157,
        imageHeight: 320,
        imageAlt: "Скучная серая фотография",
        pictureData: [
          {
            media: "(min-width: 960px)",
            format: "webp",
            path: "img/",
            name: "iphone-screen-1-desktop",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 960px)",
            format: "png",
            path: "img/",
            name: "iphone-screen-1-desktop",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 660px)",
            format: "webp",
            path: "img/",
            name: "iphone-screen-1-tablet",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 660px)",
            format: "png",
            path: "img/",
            name: "iphone-screen-1-tablet",
            density: ["1x", "2x"]
          },
          {
            media: null,
            format: "webp",
            path: "img/",
            name: "iphone-screen-1-mobile",
            density: ["1x", "2x"]
          },
          {
            media: null,
            format: "png",
            path: "img/",
            name: "iphone-screen-1-mobile",
            density: ["1x", "2x"]
          }
        ]
      },
      {
        name: "colorful",
        title: "Меняет мир вокруг",
        descr: "Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить&nbsp;эффект",
        imageWidth: 157,
        imageHeight: 320,
        imageAlt: "Освежающий розовый фильтр на фотографии",
        pictureData: [
          {
            media: "(min-width: 960px)",
            format: "webp",
            path: "img/",
            name: "iphone-screen-2-desktop",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 960px)",
            format: "png",
            path: "img/",
            name: "iphone-screen-2-desktop",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 660px)",
            format: "webp",
            path: "img/",
            name: "iphone-screen-2-tablet",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 660px)",
            format: "png",
            path: "img/",
            name: "iphone-screen-2-tablet",
            density: ["1x", "2x"]
          },
          {
            media: null,
            format: "webp",
            path: "img/",
            name: "iphone-screen-2-mobile",
            density: ["1x", "2x"]
          },
          {
            media: null,
            format: "png",
            path: "img/",
            name: "iphone-screen-2-mobile",
            density: ["1x", "2x"]
          }
        ]
      },
      {
        name: "smile",
        title: "Заводит новых друзей",
        descr: "Ставьте лайки, комментируйте, делитесь фотографиями с&nbsp;друзьями и&nbsp;заводите новых",
        imageWidth: 157,
        imageHeight: 320,
        imageAlt: "Смайлик и подпись поверх фильтра на фотографии",
        pictureData: [
          {
            media: "(min-width: 960px)",
            format: "webp",
            path: "img/",
            name: "iphone-screen-3-desktop",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 960px)",
            format: "png",
            path: "img/",
            name: "iphone-screen-3-desktop",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 660px)",
            format: "webp",
            path: "img/",
            name: "iphone-screen-3-tablet",
            density: ["1x", "2x"]
          },
          {
            media: "(min-width: 660px)",
            format: "png",
            path: "img/",
            name: "iphone-screen-3-tablet",
            density: ["1x", "2x"]
          },
          {
            media: null,
            format: "webp",
            path: "img/",
            name: "iphone-screen-3-mobile",
            density: ["1x", "2x"]
          },
          {
            media: null,
            format: "png",
            path: "img/",
            name: "iphone-screen-3-mobile",
            density: ["1x", "2x"]
          }
        ]
      }
    ]
  }
