-
  var intro = {
    title: "Ссылки для скачивания приложения",
    slogan: "Взгляните на жизнь иначе!",
    descr: "Доступно для iPhone, iPad, Android, Windows Phone, OS&nbsp;X, Windows&nbsp;8",
    platforms: [
      {
        name: "apple",
        link: "#",
        text: "Ссылка на Apple Store",
        icon: {
          width: 46,
          height: 57
        }
      },
      {
        name: "android",
        link: "#",
        text: "Ссылка на Google Play",
        icon: {
          width: 42,
          height: 47
        }
      },
      {
        name: "microsoft",
        link: "#",
        text: "Ссылка на Windows Store",
        icon: {
          width: 44,
          height: 42
        }
      }
    ]
  }
