-
  var prices = {
    title: "Тарифные планы",
    table: {
      headerCells: [
        {
          title: null,
          price: null
        },
        {
          title: "База",
          price: "1,99 USD"
        },
        {
          isHit: true,
          title: "Стандарт",
          price: "3,99 USD"
        },
        {
          title: "Анлим",
          price: "9,99 USD"
        }
      ],

      rows: [
        {
          cells: [
            {
              isOptionName: true,
              name: "Розовый фильтр"
            },
            {
              isOptionName: false,
              name: "Розовый фильтр",
              isAvailable: true
            },
            {
              isOptionName: false,
              name: "Розовый фильтр",
              isAvailable: true
            },
            {
              isOptionName: false,
              name: "Розовый фильтр",
              isAvailable: true
            }
          ]
        },
        {
          cells: [
            {
              isOptionName: true,
              name: "Смайлики"
            },
            {
              isOptionName: false,
              name: "Смайлики",
              isAvailable: false
            },
            {
              isOptionName: false,
              name: "Смайлики",
              isAvailable: true
            },
            {
              isOptionName: false,
              name: "Смайлики",
              isAvailable: true
            }
          ]
        },
        {
          cells: [
            {
              isOptionName: true,
              name: "Комментарии"
            },
            {
              isOptionName: false,
              name: "Комментарии",
              isAvailable: false
            },
            {
              isOptionName: false,
              name: "Комментарии",
              isAvailable: false
            },
            {
              isOptionName: false,
              name: "Комментарии",
              isAvailable: true
            }
          ]
        }
      ]
    }
  }
