-
  var research = {
    sectionTitle: "Результаты исследований",
    title: "Эффект<br> на 24 часа!",
    descr: "Британские учёные провели исследования и&nbsp;доказали, " +
      "что&nbsp;положительный эффект от&nbsp;использования приложения длится целые сутки!",
    link: {
      href: "#",
      text: "Узнать больше об исследовании"
    }
  }
