-
  var reviews = {
    title: "Отзывы пользователей",
    items: [
      {
        name: "Николай Петров",
        info: "25 лет, водитель трамвая",
        text: "&laquo;Это приложение перевернуло мой мир и позволило по-новому взглянуть на " +
                "привычные серые вещи! А ещё я познакомился со своей будущей женой в комментариях к выложенной фотографии!&raquo;"
      },
      {
        name: "Александр Васильев",
        info: "50 лет, певец и композитор",
        text: "&laquo;Из всех функций этого приложения мне более всего по нраву волшебный фильтр. " +
                "С его помощью я, наконец-то, смог хоть чуточку разогнать свой питерский сплин&raquo;"
      },
      {
        name: "Александр Домогаров",
        info: "55 лет, актёр",
        text: "&laquo;Раньше мои фотографии со съёмочной площадки и близко не набирали такого количества " +
                "лайков, как у моих коллег по цеху, но теперь всё изменилось! Благодаря Pink мой инстаграм стал намного популярнее!&raquo;"
      }
    ]
  }
