.button {
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: 14px 15px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #d22856;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: normal;
  background-color: transparent;
  border: 3px solid #d22856;
  border-radius: 27px;
  cursor: pointer;
  //user-select: none;
  //touch-action: manipulation;

  @media (min-width: $screen-large) {
    //padding-top: 13px;
    //padding-bottom: 15px;
    //font-size: 21px;
    //line-height: 21px;
  }

  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-color: #d22856;
  }

  &--grey {
    color: #283645;
    border-color: #283645;
    opacity: 0.1;

    &:hover {
      color: #283645;
      border-color: #283645;
      background-color: transparent;
      opacity: 0.3;
    }

    &:active {
      color: #ffffff;
      background-color: #283645;
      opacity: 0.3;
    }
  }

  &--white {
    color: #ffffff;
    border-color: #ffffff;

    &:hover {
      color: #d22856;
      background-color: #ffffff;
    }

    &:active {
      color: rgba(210, 40, 86, 0.7);
    }
  }

  &--large {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &--wide {
    width: 300px;
  }

  &--green {
    color: #ffffff;
    background-color: #2aab6d;
    border-radius: 2px;

    &:hover {
      background-color: #1c9b5e;
    }

    &:active {
      color: rgba(255, 255, 255, 0.7);
    }

    &:disabled,
    &--disabled {
      //
    }
  }
}
