.button {
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: 14px 15px 17px;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: $color-secondary;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  background-color: transparent;
  border: 3px solid $color-secondary;
  border-radius: 27px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $white;
    background-color: $color-secondary;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $color-secondary;
  }

  &--grey {
    color: $color-main;
    border-color: $color-main;
    opacity: 0.1;

    &:hover,
    &:focus {
      color: $color-main;
      background-color: transparent;
      border-color: $color-main;
      opacity: 0.3;
    }

    &:active {
      color: $white;
      background-color: $color-main;
      opacity: 0.3;
    }
  }

  &--white {
    color: $white;
    border-color: $white;

    &:hover,
    &:focus {
      color: $color-secondary;
      background-color: $white;
    }

    &:active {
      color: rgba($color-secondary, 0.3);
      background-color: $white;
    }
  }

  &--large {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &--wide {
    width: 300px;
  }

  &--green {
    color: $white;
    background-color: $color-confirm;
    border-color: $color-confirm;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: $color-confirm--dark;
      border-color: $color-confirm--dark;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $color-confirm--dark;
      border-color: $color-confirm--dark;
    }

    &:disabled,
    &--disabled {
      color: $white;
      background-color: $gray--light;
      border-color: $gray--light;
    }

    &:disabled:not(a),
    &--disabled:not(a) {
      cursor: not-allowed;
    }
  }
}
