.call-to-action {
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $screen-medium) {
    font-size: 18px;
  }

  &--home {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;

    @media (min-width: $screen-medium) {
      font-size: 40px;
    }

    @media (min-width: $screen-large) {
      font-size: 50px;
    }
  }
}

.call-to-action__text {
  display: block;

  &:first-child {
    margin-bottom: 32px;

    @media (min-width: $screen-medium) {
      margin: 0;
    }
  }
}
