.contacts {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.contacts__inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 45px 20px 35px;

  @media (min-width: $screen-medium) {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  @media (min-width: $screen-large) {
    padding-top: 65px;
    padding-bottom: 20px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $screen-large) {
    justify-content: space-between;
  }
}

.contacts__item {
  margin-bottom: 17px;

  @media (min-width: $screen-medium) {
    width: 50%;
    margin-bottom: 45px;
  }

  @media (min-width: $screen-large) {
    width: 280px;
    margin-bottom: 0;
  }

  &--phone {
    @media (min-width: $screen-medium) and (max-width: $screen-large - 1) {
      padding-right: 10px;
    }
  }

  &--mail {
    @media (min-width: $screen-medium) and (max-width: $screen-large - 1) {
      padding-left: 10px;
    }

    @media (min-width: $screen-large) {
      order: 2;
    }
  }

  &--address {
    margin-bottom: 0;
  }
}

.contacts__call-to-action {
  margin: 0 0 30px;

  @media (min-width: $screen-medium) {
    margin-bottom: 40px;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 50px;
  }
}

.contacts__action {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $screen-large) {
    margin-bottom: 20px;
  }
}

.contacts__link {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  text-decoration: none;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 50%;

  @media (min-width: $screen-medium) {
    height: 375px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center 45%;
  }

  @media (min-width: $screen-large) {
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center 40%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100% 33px;

    @media (min-width: $screen-medium) {
      min-height: 70px;
      background-size: 100% 70px;
    }

    @media (min-width: $screen-large) {
      min-height: 110px;
      background-size: 100% 110px;
    }
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}
