.logo {
  display: flex;
  flex: 0 0 auto;
  height: 66px;

  @media (min-width: $screen-medium) {
    height: 110px;
  }

  &[href]:hover .logo__img,
  &[href]:focus .logo__img {
    fill: $color-secondary;
  }

  &[href]:active .logo__img {
    opacity: 0.3;
  }

  &--white .logo__img {
    fill: $white;
  }

  &--blue .logo__img {
    fill: $color-main;
  }
}

.logo__img {
  display: none;
  margin: auto 0;

  &--small {
    width: 75px;
    height: 22px;

    @media (max-width: $screen-medium - 1) {
      display: block;
    }
  }

  &--medium {
    width: 147px;
    height: 40px;
    margin: 27px 0 43px;

    @media (min-width: $screen-medium) and (max-width: $screen-large - 1) {
      display: block;
    }
  }

  &--large {
    width: 147px;
    height: 40px;
    margin: 27px 0 43px;

    @media (min-width: $screen-large) {
      display: block;
    }
  }
}
