.main-nav {
  position: relative;
  min-height: 66px;

  @media (min-width: $screen-medium) {
    min-height: 110px;
  }

  &--closed {
    background-color: rgba($black, 0.3);
  }

  &--opened {
    background-color: $color-main;
  }

  &--closed .main-nav__list {
    @media (max-width: $screen-large - 1) {
      display: none;
    }
  }

  &--opened .main-nav__list {
    @media (max-width: $screen-large - 1) {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 10;
    }
  }

  &--no-js .main-nav__list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
  }

  &--opened .trigger {
    width: 65px;
  }

  &--opened .trigger > span {
    width: 28px;
    background-color: transparent;

    &::before,
    &::after {
      top: 0;
      width: 28px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--opened .trigger:hover > span {
    background-color: transparent;
  }
}

.main-nav__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $screen-large) {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.main-nav__trigger {
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $screen-medium) {
    top: 22px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color-main;
  border-top: 1px solid $black;

  @media (min-width: $screen-large) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    background-color: transparent;
    border-top: none;
  }
}

.main-nav__list a[href] {
  &:hover,
  &:focus {
    color: $color-secondary;
  }

  &:active {
    color: $white;
    opacity: 0.3;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 20px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid rgba($white, 0.15);
  border-bottom: 1px solid $black;

  @media (min-width: $screen-large) {
    padding-right: 0;
    padding-left: 0;
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
    border-top: none;
    border-bottom: none;
  }

  &--active::after {
    @media (min-width: $screen-large) {
      content: "";
      position: absolute;
      top: 80%;
      right: 0;
      left: 0;
      height: 2px;
      background-color: $white;
    }
  }
}
