.page-footer {
  background-color: $white;

  &--home {
    @media (max-width: $screen-medium - 1) {
      display: none;
    }
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;

  @media (min-width: $screen-medium) {
    flex-direction: row;
    padding-top: 40px;
  }

  @media (min-width: $screen-large) {
    padding: 75px 10px;
  }
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $screen-medium) {
    align-self: flex-start;
    margin-bottom: 0;
  }
}

.page-footer__logo .logo__img--medium {
  margin: 0;

  @media (max-width: $screen-large - 1) {
    display: block;
  }
}

.page-footer__logo .logo__img--large {
  margin: 0;
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $screen-medium) {
    margin-right: 15px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-large) {
    margin-right: 0;
    margin-left: 5px;
  }
}

.page-footer a {
  color: $color-main;
}
