.range {
  &:hover .range__icon svg {
    @media (max-width: $screen-medium - 1) {
      fill: rgba(40, 54, 69, 0.5);
    }
  }
}

.range__icon {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;

  @media (min-width: $screen-medium) {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }

  @media (min-width: $screen-large) {
    width: 48px;
    height: 48px;
  }

  &--contrast {
    @media (min-width: $screen-medium) {
      left: 6px;
      width: 16px;
      height: 16px;
    }

    @media (min-width: $screen-large) {
      width: 32px;
      height: 32px;
    }
  }
}

.range__icon svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(40, 54, 69, 0.3);

  @media (min-width: $screen-medium) {
    width: 100%;
    height: 100%;
    fill: #d22856;
  }
}

.range__input {
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: none;
  width: 240px;
  height: 14px;
  margin: 0;
  padding: 0;
  font: 1rem/1 "Open Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $screen-medium) {
    display: block;
    width: 202px;
  }

  @media (min-width: $screen-large) {
    right: 30px;
    width: 288px;
  }
}

.range__input,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range__input::-webkit-slider-runnable-track {
  @include track;
}

.range__input::-moz-range-track {
  @include track;
}

.range__input::-ms-track {
  @include track;
  color: transparent; //removes the initial tick marks in Edge
}

.range__input::-ms-fill-lower {
  background-color: transparent;
}

.range__input::-webkit-slider-thumb {
  @include thumb;
  margin-top: -6px; //in Chrome thumb is top-aligned to the top of track's content box, see https://css-tricks.com/sliding-nightmare-understanding-range-input/#thumb
}

.range__input::-moz-range-thumb {
  @include thumb;
}

.range__input::-ms-thumb {
  @include thumb;
  margin-top: 0;
}

.range__input::-ms-tooltip {
  display: none;
}

.range__input:active::-webkit-slider-thumb {
  background-color: #d22856;
}

.range__input:active::-moz-range-thumb {
  background-color: #d22856;
}

.range__input:active::-ms-thumb {
  background-color: #d22856;
}
