.research {
  display: none;
  background-color: #ffffff;

  @media (min-width: $screen-medium) {
    display: block;
  }

  @media (min-width: $screen-large) {
    background-color: #f2f2f2;
  }
}

.research__inner {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 58px 20px 52px 20px;

  @media (min-width: $screen-large) {
    padding: 25px 10px 67px 10px;
  }

  &::before {
    content: "";
    display: block;
    flex-basis: 238px;
    max-width: 50%;
    height: 276px;
    margin-right: auto;
    text-align: center;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 238px 276px;

    @media (min-width: $screen-large) {
      flex-basis: 298px;
      max-width: 31.7%;
      height: 345px;
      background-size: 298px 345px;
    }
  }
}

.research__text {
  flex-basis: 50%;
  max-width: 50%;
  padding-top: 38px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  @media (min-width: $screen-large) {
    flex-basis: 61%;
    max-width: 61%;
    padding-top: 95px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #000000;

  @media (min-width: $screen-large) {
    margin-bottom: 24px;
    line-height: 1;
  }

  & br {
    @media (min-width: $screen-large) {
      display: none;
    }
  }
}

.research__description {
  margin-top: 0;
  margin-bottom: 12px;
  padding-right: 10px;

  @media (min-width: $screen-large) {
    margin-bottom: 30px;
    padding-right: 20px;
  }
}

.research__link {
  color: #d22856;

  &:hover {
    color: #283645;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}
