.reviews {
  padding-top: 45px;
  overflow: hidden;
  background-color: $body-bg;

  @media (min-width: $screen-medium) {
    padding-top: 47px;
  }

  @media (min-width: $screen-large) {
    padding-top: 185px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 72px;
  }
}

.reviews__slider {
  margin: 0 auto 35px;

  @media (min-width: $screen-medium) {
    margin: 0 auto 15px;
  }

  @media (min-width: $screen-large) {
    margin: 0 auto 40px;
  }
}

.reviews__slider .slider__inner {
  width: 300%;
}

.reviews__item {
  margin: 0;
  text-align: center;

  @media (min-width: $screen-medium) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $screen-large) {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.reviews__author-name {
  display: inline-block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $screen-medium) {
    order: 2;
    margin-bottom: 2px;
    font-size: 20px;
    color: $black;
  }

  @media (min-width: $screen-large) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $screen-medium) {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    order: 3;
  }

  @media (min-width: $screen-large) {
    font-size: 18px;
  }
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $screen-medium) {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__toggle {
  display: none;
}

.reviews__slider-pagination {
  text-align: center;
}
