.trigger {
  display: block;
  width: 90px;
  height: 66px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  @media (min-width: $screen-large) {
    display: none;
  }
}

.trigger > span {
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  transform: translateY(-50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.trigger:hover > span,
.trigger:hover > span::before,
.trigger:hover > span::after {
  background-color: #d22856;
}

.trigger:focus > span,
.trigger:focus > span::before,
.trigger:focus > span::after {
  background-color: #d22856;
}

.trigger:active > span,
.trigger:active > span::before,
.trigger:active > span::after {
  background-color: rgba(210, 40, 86, 0.3);
}
