//TODO: добавить стили для состояний

.button {
  display: inline-block;
  //margin: 0;  //TODO: подумать над каскадом с элементом
  padding-top: 15px; //need vars (mb component style) + pd-right & pd-left
  padding-bottom: 16px;
  vertical-align: middle;
  font-size: 18px; //font inherit? 1em
  line-height: 18px; //$var
  //color: #ffffff; //$var
  font-family: inherit;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  border: 3px solid #ffffff; //temp color $var
  border-radius: 27px;  //$var
  background-color: transparent; //temp $var
  background-image: none;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $screen-large) {
    font-size: 21px;
  }
}
