.button-image {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 0;
  user-select: none;
  touch-action: manipulation;
  font-size: 0;
  color: #000000;
  background-color: transparent;

  //&--flip {
  //  transform: rotate(180deg);
  //}
}
