.copyright {
  text-align: center;
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $screen-large) {
    font-size: 18px;
  }
}

.copyright__link {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 12px;
  vertical-align: middle;

  &:hover svg {
    fill: #283645;
  }

  &:active svg {
    fill: #283645;
    fill-opacity: 0.3;
  }
}

.copyright__link svg {
  width: 27px;
  height: 34.09px;
  fill: #d22856;
}
