.features {
  text-align: center;
  background-color: #f2f2f2;
}

.features__header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;

  @media (min-width: $screen-medium) {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  @media (min-width: $screen-large) {
    padding-top: 65px;
    padding-bottom: 78px;
  }
}

.features__container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.features__call-to-action {
  margin: 0;
}

.features__wrap {
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.features__inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 75px 20px 0;

  @media (min-width: $screen-medium) {
    padding-top: 60px;
  }

  @media (min-width: $screen-large) {
    padding-top: 0;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-medium) {
    position: relative;
    padding-bottom: 48px;
    padding-left: 50%;
    text-align: left;
  }

  @media (min-width: $screen-large) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-left: 0;
    text-align: center;
  }
}

.features__item {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-large) {
    display: flex;
    flex-direction: column-reverse;
    max-width: 292px;
    margin-bottom: 0;
  }
}


.features__text {
  //
}

.features__title {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $screen-large) {
    margin-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}

.features__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $screen-medium) {
    margin-top: 12px;
    line-height: 23.8px;
  }

  @media (min-width: $screen-large) {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 18px;
    line-height: 30.6px;
  }
}

.features__img {
  display: none;
  width: 157px;
  height: 277px;
  margin: 40px auto 0;
  object-fit: cover;
  object-position: center top;

  @media (min-width: $screen-medium) {
    width: 268px;
    height: 480px;
    margin: 0;
  }

  @media (min-width: $screen-large) {
    display: block;
    width: 292px;
    height: 302px;
    margin-bottom: 53px;
  }
}

.features__item:last-child .features__img {
  display: block;

  @media (min-width: $screen-medium) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $screen-large) {
    position: static;
  }
}
