.intro {
  text-align: center;
  background-color: transparent;

  &--home {
    @media (max-width: $screen-medium - 1) {
      background-color: #1d2631;
    }
  }

  &--home .intro__inner {
    align-items: center;
    padding-top: 28px;
    padding-bottom: 30px;

    @media (min-width: $screen-medium) {
      align-items: flex-start;
      padding-top: 0;
      padding-bottom: 110px;
    }

    @media (min-width: $screen-large) {
      padding-bottom: 120px;
    }
  }
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px 54px;

  @media (min-width: $screen-medium) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: $screen-large) {
    padding: 60px 10px;
  }
}

.intro__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;

  @media (min-width: $screen-medium) {
    font-size: 50px;
  }
}

.intro__slogan {
  display: none;

  @media (min-width: $screen-medium) {
    display: block;
    width: 300px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px;
  }
}

.intro__button {
  width: 280px;
  margin-bottom: 32px;

  @media (min-width: $screen-medium) {
    width: 300px;
    margin-bottom: 45px;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 68px;
  }
}

.intro__platforms {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 22px;

  @media (min-width: $screen-medium) {
    width: 300px;
    max-width: 300px;
    margin-bottom: 35px;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 55px;
  }
}

.intro__description {
  width: 280px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 24px;

  @media (min-width: $screen-medium) {
    width: 300px;
    font-size: 18px;
  }
}
