.intro {
  background-color: transparent;

  &--home {
    @media (max-width: $screen-medium - 1) {
      background-color: #1d2631;
    }
  }

  &--home .intro__inner {
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;

    @media (min-width: $screen-medium) {
      align-items: flex-start;
      padding-top: 0;
      padding-bottom: 110px;
    }

    @media (min-width: $screen-large) {
      padding-bottom: 120px;
    }
  }
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between; //flex-start
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px 58px;

  @media (min-width: $screen-medium) {
    padding-top: 70px;
    padding-bottom: 115px;
  }

  @media (min-width: $screen-large) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $screen-medium) {
    font-size: 50px;
    line-height: 60px;
  }
}

.intro__slogan {
  //TODO: подумать о доступном скрытии для мобильных
  display: none;

  @media (min-width: $screen-medium) {
    display: block;
    width: 300px;
    margin-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;  //1.2
    text-align: center;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px;
  }
}

.intro__button {
  width: 280px;
  margin-bottom: 32px;
  font-weight: 700;
  color: #ffffff;

  @media (min-width: $screen-medium) {
    width: 300px;
    margin-bottom: 45px;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 68px;
    font-size: 21px;  // Через модификатор button--download или @media button
  }
}

.intro__platforms {
  //temp layout
  max-width: 300px;
  min-width: 280px;
  min-height: 58px;
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: $screen-medium) {
    margin-bottom: 35px;
  }

  @media (min-width: $screen-large) {
    margin-bottom: 55px;
  }
}

.intro__description {
  width: 280px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: $screen-medium) {
    width: 300px;
    font-size: 18px;
  }
}
