.logo {
  display: flex;
  height: 66px;

  @media (min-width: $screen-medium) {
    height: 110px;
  }
}

.logo__img {
  display: none;
  margin: auto 0;

  &--small {
    width: 74px;
    height: 22px;

    @media (max-width: $screen-medium - 1) {
      display: block;
    }
  }

  &--medium {
    width: 147px;
    height: 40px;
    margin: 27px 0 43px;

    @media (min-width: $screen-medium) and (max-width: $screen-large - 1) {
      display: block;
    }
  }

  &--large {
    width: 147px;
    height: 40px;
    margin: 27px 0 43px;

    @media (min-width: $screen-large) {
      display: block;
    }
  }
}
