.platforms {
  //margin: 0;  //TODO: подумать над каскадом с элементом
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  padding: 0;
  list-style: none;
  text-align: center;
}

.platforms__item {
  display: inline-block;
  width: 46.21px;
  height: 56.75px;
  margin-right: 30px;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }
}

.platforms__link {
  display: inline-block;
  width: 46.21px;
  height: 56.75px;
  vertical-align: top;
  background-position: center bottom;
  background-repeat: no-repeat;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--microsoft {
    background-image: url("../img/logo-microsoft.svg");
  }
}
