.prices {
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-width: $screen-medium) {
    padding-bottom: 70px;
  }

  @media (min-width: $screen-large) {
    padding-top: 150px;
    padding-bottom: 95px;
    background-size: 100% 85px;
  }
}

.prices__slider {
  margin: 0 auto;
}

.prices .slider__controls {
  margin-top: 30px;

  @media (min-width: $screen-medium) {
    display: none;
  }
}
