.toggle {
  display: block;
  width: 90px;
  height: 65px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  //background-color: inherit;
  //temp
  outline: 1px solid yellow;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff,
      0 20px 0 0 #ffffff;
  }

  &--close {
    width: 65px;
  }

  &--close::before,
  &--close::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 19px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
  }

  &--close::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--close::after {
    transform: rotate(-45deg);
  }
}

.toggle::after {
  //
}
