include ../content/title
include ../content/intro
include ../content/features
include ../content/research
include ../content/reviews
include ../content/prices
include ../content/contacts
include ../content/gallery
include ../content/photo-upload
