//- Базовые
//- ---------------------------------

include ../mixins/basic/img
include ../mixins/basic/picture
include ../mixins/basic/icon
include ../mixins/basic/button
include ../mixins/basic/text-field
include ../mixins/basic/checkbox-field
include ../mixins/basic/radio-field
include ../mixins/basic/textarea-field

//- Компоненты
//- ---------------------------------

include ../mixins/components/header.pug
include ../mixins/components/footer
include ../mixins/components/logo-svg
include ../mixins/components/slider
include ../mixins/components/social-links
include ../mixins/components/form-message
include ../mixins/components/intro
include ../mixins/components/prices-table
include ../mixins/components/post
include ../mixins/components/photo-upload-range
