//- Базовые
//- ---------------------------------

include ../mixins/basic/img
include ../mixins/basic/picture
include ../mixins/basic/icon
include ../mixins/basic/button

//- Компоненты
//- ---------------------------------

include ../mixins/components/header.pug
include ../mixins/components/footer
include ../mixins/components/logo-svg
include ../mixins/components/slider
include ../mixins/components/social-links
include ../mixins/components/intro
include ../mixins/components/prices-table
