@mixin track() {
  box-sizing: border-box;
  width: $track-w;
  height: $track-h;
  background-color: $color-main;
  border: none;
}

@mixin thumb() {
  box-sizing: border-box;
  width: $thumb-d;
  height: $thumb-d;
  background-color: $gray--lighten;
  border: 2px solid $color-secondary;
  border-radius: 50%;
}
