// Color system

// General
$white: #ffffff;
$gray: #808080;
$gray--light: #e5e5e5;
$gray--lighten: #f2f2f2;
$black: #000000;

$color-main: #283645;
$color-main--dark: #1d2631;
$color-secondary: #d22856;
$color-confirm: #2aab6d;
$color-confirm--dark: #1c9b5e;

// Body
$text-color: $color-main;

$body-bg: $white;
$body-bg--gray: $gray--lighten;


// Typography

// Fonts
$font-size: 14px;
$font-family: "Open Sans", "Helvetica", "Arial", sans-serif;


// Components

// Photo upload settings track
$track-w: 100%;
$track-h: 2px;
$thumb-d: 14px;


// Breakpoints

// Screen sizes
$screen-small: 320px;
$screen-small--wide: 620px;
$screen-medium: 660px;
$screen-large: 960px;

// Resolutions
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
