/* Colors */
$body-bg: #ffffff;
$body-bg--grey: #f2f2f2;
$body-bg--dark: #1d2631;
$text-color: #283645;
$nav-link-color: #ffffff;
//$link-color--hover;
//$link-color--visited;
//$link-color--active;

/* Components colors */
/* button etc */

/* Fonts */
$font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$font-size--root: 16px;
$font-size: 0.875rem;
$font-size--big: 1.125rem;
//$font-size--small;
//$font-size--h1; etc
$line-height--base: 1.6;
$line-height--big: 1.777;
//$line-height--h1;
//$line-height--h2 etc;

/* Components */
$track-w: 100%;
$track-h: 2px;
$thumb-d: 14px;

/* Breakpoints */
$screen-small: 320px;
$screen-medium: 660px;
$screen-large: 960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
